/* Simple styling only by using tag names selectors*/

html {
  background: rgb(89, 158, 223);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
  background: lightblue;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}

h1 {
  text-align: center;
  color: steelblue;
  font-size: 40px;
}

h2 {
  color: blue;
}

img {
  border: 1px solid black;
}

p{
  line-height: 1.2;
}

ul li{
  list-style: none;
  padding: 3px;
}


ol li {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: rgb(161, 65, 81);
}

